{"openapi":"3.0.3","info":{"title":"LastMile AI API V2","description":"LastMile AI API V2: Components","version":"2.0"},"servers":[{"url":"https://lastmileai.dev","description":"Production server - LastMile AI"}],"security":[{"BearerAuth":[]}],"paths":{"/api/2/auto_eval/dataset/create":{"post":{"tags":["Dataset"],"summary":"Create Dataset","operationId":"CreateDataset","description":"Create a new Dataset. Use UploadDatasetFile to upload files to the dataset.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.CreateDatasetRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.CreateDatasetResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const dataset = await client.datasets.create();\n\n  console.log(dataset.dataset);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\ndataset = client.datasets.create()\nprint(dataset.dataset)"}]}},"/api/2/auto_eval/dataset/upload_file":{"post":{"tags":["Dataset"],"summary":"Upload Dataset File","operationId":"UploadDatasetFile","description":"Initiate a file upload to a Dataset. Call FinalizeSingleDatasetFileUpload\n to complete the upload with the presigned URL returned from this call.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.UploadDatasetFileRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.UploadDatasetFileResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.datasets.uploadFile({ datasetId: 'datasetId' });\n\n  console.log(response.s3PresignedPost);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nresponse = client.datasets.upload_file(\n    dataset_id=\"datasetId\",\n)\nprint(response.s3_presigned_post)"}]}},"/api/2/auto_eval/dataset/finalize_single_file_upload":{"post":{"tags":["Dataset"],"summary":"Finalize Single Dataset File Upload","operationId":"FinalizeSingleDatasetFileUpload","description":"Finalize a Dataset file upload. This call should be made after the file has\n been uploaded to the S3 URL returned from UploadDatasetFile.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.FinalizeSingleDatasetFileUploadRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.FinalizeSingleDatasetFileUploadResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.datasets.finalizeFileUpload({\n    datasetId: 'datasetId',\n    s3PresignedPost: { fields: { foo: 'string' }, url: 'url' },\n  });\n\n  console.log(response);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nresponse = client.datasets.finalize_file_upload(\n    dataset_id=\"datasetId\",\n    s3_presigned_post={\n        \"fields\": {\n            \"foo\": \"string\"\n        },\n        \"url\": \"url\",\n    },\n)\nprint(response)"}]}},"/api/2/auto_eval/dataset/generate_synthetic":{"post":{"tags":["Dataset"],"summary":"Generate Synthetic Dataset","operationId":"GenerateSyntheticDataset","description":"Generate a synthetic dataset from uploaded file contents","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GenerateSyntheticDatasetRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GenerateSyntheticDatasetResponse"}}}}}}},"/api/2/auto_eval/dataset/get":{"post":{"tags":["Dataset"],"summary":"Get Dataset","operationId":"GetDataset","description":"Get a Dataset.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetDatasetRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetDatasetResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const dataset = await client.datasets.get({ id: 'id' });\n\n  console.log(dataset.dataset);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\ndataset = client.datasets.get(\n    id=\"id\",\n)\nprint(dataset.dataset)"}]}},"/api/2/auto_eval/dataset/get_download_url":{"post":{"tags":["Dataset"],"summary":"Get Dataset Download URL","operationId":"GetDatasetDownloadURL","description":"Get a download url for a Dataset.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetDatasetDownloadURLRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetDatasetDownloadURLResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.datasets.getDownloadURL({ datasetId: 'datasetId' });\n\n  console.log(response.downloadUrl);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nresponse = client.datasets.get_download_url(\n    dataset_id=\"datasetId\",\n)\nprint(response.download_url)"}]}},"/api/2/auto_eval/dataset/get_view":{"post":{"tags":["Dataset"],"summary":"Get Dataset View","operationId":"GetDatasetView","description":"Get a paginated view of the data within a Dataset.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetDatasetViewRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetDatasetViewResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.datasets.getView({\n    datasetFileId: 'datasetFileId',\n    datasetId: 'datasetId',\n    filters: [\n      {\n        allOf: {\n          predicates: [\n            {\n              columnName: 'columnName',\n              numericCriteria: { doubleValue: 0, int64Value: 0, operator: 'OPERATOR_UNSPECIFIED' },\n              stringCriteria: { operator: 'OPERATOR_UNSPECIFIED', value: 'value' },\n              stringListCriteria: { operator: 'OPERATOR_UNSPECIFIED', values: ['string'] },\n            },\n          ],\n        },\n        anyOf: {\n          predicates: [\n            {\n              columnName: 'columnName',\n              numericCriteria: { doubleValue: 0, int64Value: 0, operator: 'OPERATOR_UNSPECIFIED' },\n              stringCriteria: { operator: 'OPERATOR_UNSPECIFIED', value: 'value' },\n              stringListCriteria: { operator: 'OPERATOR_UNSPECIFIED', values: ['string'] },\n            },\n          ],\n        },\n      },\n    ],\n  });\n\n  console.log(response.datasetFileId);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nresponse = client.datasets.get_view(\n    dataset_file_id=\"datasetFileId\",\n    dataset_id=\"datasetId\",\n    filters=[{\n        \"all_of\": {\n            \"predicates\": [{\n                \"column_name\": \"columnName\",\n                \"numeric_criteria\": {\n                    \"double_value\": 0,\n                    \"int64_value\": 0,\n                    \"operator\": \"OPERATOR_UNSPECIFIED\",\n                },\n                \"string_criteria\": {\n                    \"operator\": \"OPERATOR_UNSPECIFIED\",\n                    \"value\": \"value\",\n                },\n                \"string_list_criteria\": {\n                    \"operator\": \"OPERATOR_UNSPECIFIED\",\n                    \"values\": [\"string\"],\n                },\n            }]\n        },\n        \"any_of\": {\n            \"predicates\": [{\n                \"column_name\": \"columnName\",\n                \"numeric_criteria\": {\n                    \"double_value\": 0,\n                    \"int64_value\": 0,\n                    \"operator\": \"OPERATOR_UNSPECIFIED\",\n                },\n                \"string_criteria\": {\n                    \"operator\": \"OPERATOR_UNSPECIFIED\",\n                    \"value\": \"value\",\n                },\n                \"string_list_criteria\": {\n                    \"operator\": \"OPERATOR_UNSPECIFIED\",\n                    \"values\": [\"string\"],\n                },\n            }]\n        },\n    }],\n)\nprint(response.dataset_file_id)"}]}},"/api/2/auto_eval/dataset/list":{"post":{"tags":["Dataset"],"summary":"List Datasets","operationId":"ListDatasets","description":"List Datasets.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListDatasetsRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListDatasetsResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const datasets = await client.datasets.list();\n\n  console.log(datasets.datasets);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\ndatasets = client.datasets.list()\nprint(datasets.datasets)"}]}},"/api/2/auto_eval/dataset/clone":{"post":{"tags":["Dataset"],"summary":"Clone Dataset","operationId":"CloneDataset","description":"Clone a dataset into a new dataset containing the latest file contents","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.CloneDatasetRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.CloneDatasetResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.datasets.copy({ datasetId: 'datasetId' });\n\n  console.log(response.dataset);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nresponse = client.datasets.copy(\n    dataset_id=\"datasetId\",\n)\nprint(response.dataset)"}]}},"/api/2/auto_eval/dataset/archive":{"post":{"tags":["Dataset"],"summary":"Archive Dataset","operationId":"ArchiveDataset","description":"Archive a dataset","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ArchiveDatasetRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ArchiveDatasetResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const dataset = await client.datasets.delete({ id: 'id' });\n\n  console.log(dataset.success);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\ndataset = client.datasets.delete(\n    id=\"id\",\n)\nprint(dataset.success)"}]}},"/api/2/auto_eval/dataset/update_row":{"put":{"tags":["Dataset"],"summary":"Update Dataset Row","operationId":"UpdateDatasetRow","description":"Update a row in a dataset","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.UpdateDatasetRowRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.UpdateDatasetRowResponse"}}}}}}},"/api/2/auto_eval/dataset/update_metadata":{"put":{"tags":["Dataset"],"summary":"Update Dataset Metadata","operationId":"UpdateDatasetMetadata","description":"Update metadata such as title and description","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.UpdateDatasetMetadataRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.UpdateDatasetMetadataResponse"}}}}}}},"/api/2/auto_eval/evaluation/evaluate":{"post":{"tags":["Evaluation"],"summary":"Evaluate","operationId":"Evaluate","description":"Evaluate a metric on rows of data, returning scores for each row. Specify\n metric.id or metric.name to identify the metric.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.EvaluateRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.EvaluateResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.evaluation.evaluate({\n    groundTruth: ['string'],\n    input: ['string'],\n    metric: {},\n    output: ['string'],\n  });\n\n  console.log(response.metric);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nresponse = client.evaluation.evaluate(\n    ground_truth=[\"string\"],\n    input=[\"string\"],\n    metric={},\n    output=[\"string\"],\n)\nprint(response.metric)"}]}},"/api/2/auto_eval/evaluation/evaluate_dataset":{"post":{"tags":["Evaluation"],"summary":"Evaluate Dataset","operationId":"EvaluateDataset","description":"Evaluate a metric on a dataset, returning scores for each example. Specify\n metric.id or metric.name to identify the metric. Persists results as an\n EvaluationRun for further capabilities.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.EvaluateDatasetRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.EvaluateDatasetResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.evaluation.evaluateDataset({ datasetId: 'datasetId', metrics: [{}] });\n\n  console.log(response.metric);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nresponse = client.evaluation.evaluate_dataset(\n    dataset_id=\"datasetId\",\n    metrics=[{}],\n)\nprint(response.metric)"}]}},"/api/2/auto_eval/evaluation/evaluate_run":{"post":{"tags":["Evaluation"],"summary":"Evaluate Run","operationId":"EvaluateRun","description":"Similar to Evaluate, but persists results as an EvaluationRun for further\n capabilites.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.EvaluateRunRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.EvaluateRunResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.evaluation.evaluateRun({\n    groundTruth: ['string'],\n    input: ['string'],\n    metrics: [{}],\n    output: ['string'],\n  });\n\n  console.log(response.metricScores);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nresponse = client.evaluation.evaluate_run(\n    ground_truth=[\"string\"],\n    input=[\"string\"],\n    metrics=[{}],\n    output=[\"string\"],\n)\nprint(response.metric_scores)"}]}},"/api/2/auto_eval/evaluation/get_run":{"post":{"tags":["Evaluation"],"summary":"Get Evaluation Run","operationId":"GetEvaluationRun","description":"Get a specific evaluation run by id","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetEvaluationRunRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetEvaluationRunResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.evaluation.getRun({ id: 'id' });\n\n  console.log(response.evaluationRun);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nresponse = client.evaluation.get_run(\n    id=\"id\",\n)\nprint(response.evaluation_run)"}]}},"/api/2/auto_eval/evaluation/list_runs":{"post":{"tags":["Evaluation"],"summary":"List Evaluation Runs","operationId":"ListEvaluationRuns","description":"List evaluation runs with optional filters","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListEvaluationRunsRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListEvaluationRunsResponse"}}}}}}},"/api/2/auto_eval/evaluation/delete_run":{"delete":{"tags":["Evaluation"],"summary":"Delete Evaluation Run","operationId":"DeleteEvaluationRun","description":"Delete an evaluation run","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.DeleteEvaluationRunRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.DeleteEvaluationRunResponse"}}}}}}},"/api/2/auto_eval/evaluation/list_metrics":{"post":{"tags":["Evaluation"],"summary":"List Metrics","operationId":"ListMetrics","description":"List all available evaluation metrics.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListMetricsRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListMetricsResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.evaluation.listMetrics();\n\n  console.log(response.metrics);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nresponse = client.evaluation.list_metrics()\nprint(response.metrics)"}]}},"/api/2/auto_eval/evaluation/get_metric":{"post":{"tags":["Evaluation"],"summary":"Get Metric","operationId":"GetMetric","description":"Get a specific evaluation metric by id or name.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetMetricRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetMetricResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.evaluation.getMetric({ metric: {} });\n\n  console.log(response.metric);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nresponse = client.evaluation.get_metric(\n    metric={},\n)\nprint(response.metric)"}]}},"/api/2/auto_eval/experiment/create":{"post":{"tags":["Experiment"],"summary":"Create Experiment","operationId":"CreateExperiment","description":"Create a new Experiment","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.CreateExperimentRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.CreateExperimentResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const experiment = await client.experiments.create({ name: 'name', projectId: 'projectId' });\n\n  console.log(experiment.experiment);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nexperiment = client.experiments.create(\n    name=\"name\",\n    project_id=\"projectId\",\n)\nprint(experiment.experiment)"}]}},"/api/2/auto_eval/experiment/get":{"post":{"tags":["Experiment"],"summary":"Get Experiment","operationId":"GetExperiment","description":"Get an Experiment.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetExperimentRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetExperimentResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const experiment = await client.experiments.get({ id: 'id' });\n\n  console.log(experiment.experiment);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nexperiment = client.experiments.get(\n    id=\"id\",\n)\nprint(experiment.experiment)"}]}},"/api/2/auto_eval/experiment/list":{"post":{"tags":["Experiment"],"summary":"List Experiments","operationId":"ListExperiments","description":"List Experiments.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListExperimentsRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListExperimentsResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const experiments = await client.experiments.list();\n\n  console.log(experiments.experiments);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nexperiments = client.experiments.list()\nprint(experiments.experiments)"}]}},"/api/2/auto_eval/experiment/delete":{"delete":{"tags":["Experiment"],"summary":"Delete Experiment","operationId":"DeleteExperiment","description":"Delete an Experiment.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.DeleteExperimentRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.DeleteExperimentResponse"}}}}}}},"/api/2/auto_eval/fine_tune_job/create":{"post":{"tags":["Fine Tune Job"],"summary":"Create Fine Tune Job","operationId":"CreateFineTuneJob","description":"Step 1 of 2: Create a new job configuration for fine-tuning, to be\n subsequently submitted by calling SubmitFineTuneJob.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.CreateFineTuneJobRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.CreateFineTuneJobResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const fineTuneJob = await client.fineTuneJobs.create({\n    fineTuneJobConfig: {\n      baselineModelId: 'baselineModelId',\n      selectedColumns: ['string'],\n      testDatasetId: 'testDatasetId',\n      trainDatasetId: 'trainDatasetId',\n    },\n  });\n\n  console.log(fineTuneJob.jobId);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nfine_tune_job = client.fine_tune_jobs.create(\n    fine_tune_job_config={\n        \"baseline_model_id\": \"baselineModelId\",\n        \"selected_columns\": [\"string\"],\n        \"test_dataset_id\": \"testDatasetId\",\n        \"train_dataset_id\": \"trainDatasetId\",\n    },\n)\nprint(fine_tune_job.job_id)"}]}},"/api/2/auto_eval/fine_tune_job/submit":{"post":{"tags":["Fine Tune Job"],"summary":"Submit Fine Tune Job","operationId":"SubmitFineTuneJob","description":"Step 2 of 2: Submit the job configuration created by CreateFineTuneJob to\n initiate a job.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.SubmitFineTuneJobRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.SubmitFineTuneJobResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.fineTuneJobs.submit({\n    fineTuneJobConfig: {\n      baselineModelId: 'baselineModelId',\n      selectedColumns: ['string'],\n      testDatasetId: 'testDatasetId',\n      trainDatasetId: 'trainDatasetId',\n    },\n    jobId: 'jobId',\n  });\n\n  console.log(response.jobId);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nresponse = client.fine_tune_jobs.submit(\n    fine_tune_job_config={\n        \"baseline_model_id\": \"baselineModelId\",\n        \"selected_columns\": [\"string\"],\n        \"test_dataset_id\": \"testDatasetId\",\n        \"train_dataset_id\": \"trainDatasetId\",\n    },\n    job_id=\"jobId\",\n)\nprint(response.job_id)"}]}},"/api/2/auto_eval/fine_tune_job/get":{"post":{"tags":["Fine Tune Job"],"summary":"Get Fine Tune Job","operationId":"GetFineTuneJob","description":"Get the full job details","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetFineTuneJobRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetFineTuneJobResponse"}}}}}}},"/api/2/auto_eval/fine_tune_job/get_status":{"post":{"tags":["Fine Tune Job"],"summary":"Get Fine Tune Job Status","operationId":"GetFineTuneJobStatus","description":"Get the status of an existing job, including any results.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetFineTuneJobStatusRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetFineTuneJobStatusResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.fineTuneJobs.getStatus({ jobId: 'jobId' });\n\n  console.log(response.fineTuneJobResult);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nresponse = client.fine_tune_jobs.get_status(\n    job_id=\"jobId\",\n)\nprint(response.fine_tune_job_result)"}]}},"/api/2/auto_eval/fine_tune_job/list":{"post":{"tags":["Fine Tune Job"],"summary":"List Fine Tune Jobs","operationId":"ListFineTuneJobs","description":"List all fine-tune jobs with optional filters.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListFineTuneJobsRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListFineTuneJobsResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const fineTuneJobs = await client.fineTuneJobs.list();\n\n  console.log(fineTuneJobs.jobs);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nfine_tune_jobs = client.fine_tune_jobs.list()\nprint(fine_tune_jobs.jobs)"}]}},"/api/2/auto_eval/fine_tune_job/list_base_models":{"post":{"tags":["Fine Tune Job"],"summary":"List Base Models","operationId":"ListBaseModels","description":"List all base models available for fine-tuning.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListBaseModelsRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListBaseModelsResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.fineTuneJobs.listBaseModels();\n\n  console.log(response.models);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nresponse = client.fine_tune_jobs.list_base_models()\nprint(response.models)"}]}},"/api/2/auto_eval/resource_permission/can_viewer_do":{"post":{"tags":["Resource Permission"],"summary":"Can Viewer Do","operationId":"CanViewerDo","description":"Description of can_viewer_do","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.CanViewerDoRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.CanViewerDoResponse"}}}}}}},"/api/2/auto_eval/resource_permission/get_role":{"post":{"tags":["Resource Permission"],"summary":"Get Role","operationId":"GetRole","description":"Description of get_role","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetRoleRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetRoleResponse"}}}}}}},"/api/2/auto_eval/resource_permission/list_applicable_permissions":{"post":{"tags":["Resource Permission"],"summary":"List Applicable Permissions","operationId":"ListApplicablePermissions","description":"Description of list_applicable_permissions","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListApplicablePermissionsRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListApplicablePermissionsResponse"}}}}}}},"/api/2/auto_eval/resource_permission/list_assignable_roles":{"post":{"tags":["Resource Permission"],"summary":"List Assignable Roles","operationId":"ListAssignableRoles","description":"Description of list_assignable_roles","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListAssignableRolesRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListAssignableRolesResponse"}}}}}}},"/api/2/auto_eval/resource_permission/list_resource_role_permissions":{"post":{"tags":["Resource Permission"],"summary":"List Resource Role Permissions","operationId":"ListResourceRolePermissions","description":"Description of list_resource_role_permissions","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListResourceRolePermissionsRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListResourceRolePermissionsResponse"}}}}}}},"/api/2/auto_eval/resource_permission/add_resource_role_permission":{"post":{"tags":["Resource Permission"],"summary":"Add Resource Role Permission","operationId":"AddResourceRolePermission","description":"Description of add_resource_role_permission","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.AddResourceRolePermissionRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.AddResourceRolePermissionResponse"}}}}}}},"/api/2/auto_eval/resource_permission/change_resource_role_permission":{"post":{"tags":["Resource Permission"],"summary":"Change Resource Role Permission","operationId":"ChangeResourceRolePermission","description":"Description of change_resource_role_permission","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ChangeResourceRolePermissionRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ChangeResourceRolePermissionResponse"}}}}}}},"/api/2/auto_eval/resource_permission/remove_resource_role_permission":{"post":{"tags":["Resource Permission"],"summary":"Remove Resource Role Permission","operationId":"RemoveResourceRolePermission","description":"Description of remove_resource_role_permission","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.RemoveResourceRolePermissionRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.RemoveResourceRolePermissionResponse"}}}}}}},"/api/2/auto_eval/project/create":{"post":{"tags":["Project"],"summary":"Create Project","operationId":"CreateProject","description":"Create a new Project","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.CreateProjectRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.CreateProjectResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const project = await client.projects.create({ name: 'name' });\n\n  console.log(project.project);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nproject = client.projects.create(\n    name=\"name\",\n)\nprint(project.project)"}]}},"/api/2/auto_eval/project/get":{"post":{"tags":["Project"],"summary":"Get Project","operationId":"GetProject","description":"Get a Project.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetProjectRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetProjectResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const project = await client.projects.get({ id: 'id' });\n\n  console.log(project.project);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nproject = client.projects.get(\n    id=\"id\",\n)\nprint(project.project)"}]}},"/api/2/auto_eval/project/get_summary":{"post":{"tags":["Project"],"summary":"Get Project Summary","operationId":"GetProjectSummary","description":"Get a summary of the Project's evaluations","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetProjectSummaryRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetProjectSummaryResponse"}}}}}}},"/api/2/auto_eval/project/get_default":{"post":{"tags":["Project"],"summary":"Get Default Project","operationId":"GetDefaultProject","description":"Get the default project for the user or organization","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetDefaultProjectRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetDefaultProjectResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.projects.default();\n\n  console.log(response.project);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nresponse = client.projects.default()\nprint(response.project)"}]}},"/api/2/auto_eval/project/list":{"post":{"tags":["Project"],"summary":"List Projects","operationId":"ListProjects","description":"List Projects.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListProjectsRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListProjectsResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const projects = await client.projects.list();\n\n  console.log(projects.projects);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nprojects = client.projects.list()\nprint(projects.projects)"}]}},"/api/2/auto_eval/project/delete":{"delete":{"tags":["Project"],"summary":"Delete Project","operationId":"DeleteProject","description":"Delete a Project.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.DeleteProjectRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.DeleteProjectResponse"}}}}}}},"/api/2/auto_eval/project/update_metadata":{"put":{"tags":["Project"],"summary":"Update Project Metadata","operationId":"UpdateProjectMetadata","description":"Update metadata such as name and description","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.UpdateProjectMetadataRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.UpdateProjectMetadataResponse"}}}}}}},"/api/2/auto_eval/project/add_members":{"post":{"tags":["Project"],"summary":"Add Project Members","operationId":"AddProjectMembers","description":"Description of add_members","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.AddProjectMembersRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.AddProjectMembersResponse"}}}}}}},"/api/2/auto_eval/project/remove_members":{"post":{"tags":["Project"],"summary":"Remove Project Members","operationId":"RemoveProjectMembers","description":"Description of remove_members","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.RemoveProjectMembersRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.RemoveProjectMembersResponse"}}}}}}},"/api/2/auto_eval/project/change_member_role":{"post":{"tags":["Project"],"summary":"Change Project Member Role","operationId":"ChangeProjectMemberRole","description":"Description of change_member_role","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ChangeProjectMemberRoleRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ChangeProjectMemberRoleResponse"}}}}}}},"/api/2/auto_eval/project/list_assignable_member_roles":{"post":{"tags":["Project"],"summary":"List Assignable Project Member Roles","operationId":"ListAssignableProjectMemberRoles","description":"Description of list_assignable_member_roles","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListAssignableProjectMemberRolesRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListAssignableProjectMemberRolesResponse"}}}}}}},"/api/2/auto_eval/project/list_members":{"post":{"tags":["Project"],"summary":"List Project Members","operationId":"ListProjectMembers","description":"List the member roles of the project","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListProjectMembersRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListProjectMembersResponse"}}}}}}},"/api/2/auto_eval/pseudo_label_job/create":{"post":{"tags":["Pseudo Label Job"],"summary":"Create Pseudo Label Job","operationId":"CreatePseudoLabelJob","description":"Step 1 of 2: Create a new job configuration for LLM Judge labeling, to be\n subsequently submitted by calling SubmitPseudoLabelJob.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.CreatePseudoLabelJobRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.CreatePseudoLabelJobResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const labelDatasetJob = await client.labelDatasetJobs.create({\n    pseudoLabelJobConfig: {\n      baseEvaluationMetric: 'BASE_EVALUATION_METRIC_UNSPECIFIED',\n      datasetId: 'datasetId',\n      promptTemplate: { id: 'id', template: 'template' },\n      selectedColumns: ['string'],\n      skipActiveLabeling: true,\n    },\n  });\n\n  console.log(labelDatasetJob.jobId);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nlabel_dataset_job = client.label_dataset_jobs.create(\n    pseudo_label_job_config={\n        \"base_evaluation_metric\": \"BASE_EVALUATION_METRIC_UNSPECIFIED\",\n        \"dataset_id\": \"datasetId\",\n        \"prompt_template\": {\n            \"id\": \"id\",\n            \"template\": \"template\",\n        },\n        \"selected_columns\": [\"string\"],\n        \"skip_active_labeling\": True,\n    },\n)\nprint(label_dataset_job.job_id)"}]}},"/api/2/auto_eval/pseudo_label_job/submit":{"post":{"tags":["Pseudo Label Job"],"summary":"Submit Pseudo Label Job","operationId":"SubmitPseudoLabelJob","description":"Step 2 of 2: Submit the job configuration created by CreatePseudoLabelJob\n to initiate an LLM Judge labeling job.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.SubmitPseudoLabelJobRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.SubmitPseudoLabelJobResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.labelDatasetJobs.submit({\n    jobId: 'jobId',\n    pseudoLabelJobConfig: {\n      baseEvaluationMetric: 'BASE_EVALUATION_METRIC_UNSPECIFIED',\n      datasetId: 'datasetId',\n      promptTemplate: { id: 'id', template: 'template' },\n      selectedColumns: ['string'],\n      skipActiveLabeling: true,\n    },\n  });\n\n  console.log(response.jobId);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nresponse = client.label_dataset_jobs.submit(\n    job_id=\"jobId\",\n    pseudo_label_job_config={\n        \"base_evaluation_metric\": \"BASE_EVALUATION_METRIC_UNSPECIFIED\",\n        \"dataset_id\": \"datasetId\",\n        \"prompt_template\": {\n            \"id\": \"id\",\n            \"template\": \"template\",\n        },\n        \"selected_columns\": [\"string\"],\n        \"skip_active_labeling\": True,\n    },\n)\nprint(response.job_id)"}]}},"/api/2/auto_eval/pseudo_label_job/get_status":{"post":{"tags":["Pseudo Label Job"],"summary":"Get Pseudo Label Job Status","operationId":"GetPseudoLabelJobStatus","description":"Get the status of an existing job, including any results.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetPseudoLabelJobStatusRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.GetPseudoLabelJobStatusResponse"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Lastmile from 'lastmile';\n\nconst client = new Lastmile({\n  bearerToken: process.env['LASTMILE_API_TOKEN'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.labelDatasetJobs.getStatus({ jobId: 'jobId' });\n\n  console.log(response.pseudoLabelJobResult);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom lastmile import Lastmile\n\nclient = Lastmile(\n    bearer_token=os.environ.get(\"LASTMILE_API_TOKEN\"),  # This is the default and can be omitted\n)\nresponse = client.label_dataset_jobs.get_status(\n    job_id=\"jobId\",\n)\nprint(response.pseudo_label_job_result)"}]}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"lmai.proto.webserver.v2.CreateDatasetRequest":{"title":"CreateDatasetRequest","type":"object","properties":{"name":{"type":"string","description":"Human-readable name for the dataset, if one exists."},"description":{"type":"string","description":"Human-readable description of the dataset, if one exists."},"isFewShotExamples":{"type":"boolean","description":"PseudoLabel job fields."},"isActiveLabels":{"type":"boolean"},"projectId":{"type":"string","description":"The project to add the new dataset to"}},"description":"Create a Dataset, initially an empty shell until a file is uploaded"},"lmai.proto.webserver.v2.CreateDatasetResponse":{"title":"CreateDatasetResponse","type":"object","properties":{"dataset":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.Dataset"}},"required":["dataset"]},"lmai.proto.model_fine_tuning.v1.Dataset":{"title":"Dataset","type":"object","properties":{"id":{"type":"string","description":"The ID of the dataset."},"createdAt":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"},"updatedAt":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"},"name":{"type":"string","description":"Human-readable name for the dataset, if one exists."},"description":{"type":"string","description":"Human-readable description of the dataset, if one exists."},"ownerUserId":{"type":"string","description":"The ID of the user who owns the dataset."},"numRows":{"type":"integer"},"numCols":{"type":"integer"},"initializationStatus":{"type":"string","enum":["JOB_STATUS_UNSPECIFIED","JOB_STATUS_QUEUED","JOB_STATUS_RUNNING","JOB_STATUS_COMPLETED","JOB_STATUS_CANCELLED","JOB_STATUS_FAILED"],"title":"JobStatus"},"initializationError":{"type":"string"},"columns":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.DatasetColumnInfo","description":"The columns present in the latest DatasetFile for this dataset"}},"labelState":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.DatasetLabelState","description":"The state of the latest labeling job for the dataset"}},"required":["id","createdAt","updatedAt","ownerUserId","numRows","numCols","initializationStatus","columns"],"description":"A Dataset in the most basic sense: metadata and ownership, but nothing tied\n to its data."},"google.protobuf.Timestamp":{"title":"Timestamp","type":"object","properties":{"seconds":{"type":"integer"},"nanos":{"type":"integer"}},"required":["seconds","nanos"]},"lmai.proto.model_fine_tuning.v1.DatasetColumnInfo":{"title":"DatasetColumnInfo","type":"object","properties":{"id":{"type":"string","description":"The ID of the dataset file."},"createdAt":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"},"updatedAt":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"},"index":{"type":"integer","description":"Index of the column within the dataset file."},"literalName":{"type":"string","description":"The literal name for the column."},"dtype":{"type":"string","enum":["DATASET_COLUMN_D_TYPE_UNSPECIFIED","DATASET_COLUMN_D_TYPE_INT32","DATASET_COLUMN_D_TYPE_INT64","DATASET_COLUMN_D_TYPE_FLOAT32","DATASET_COLUMN_D_TYPE_FLOAT64","DATASET_COLUMN_D_TYPE_STRING","DATASET_COLUMN_D_TYPE_BYTES","DATASET_COLUMN_D_TYPE_ANY","DATASET_COLUMN_D_TYPE_LIST_OF_STRINGS","DATASET_COLUMN_D_TYPE_BOOLEAN"],"title":"DatasetColumnDType","description":"Datatypes for a column in a dataset file. We likely don't need everything\n here, but it's good to be explicit, for example to avoid unknowingly coercing\n int64 values into int32. Encoding for text is UTF_8 unless indicated\n otherwise."}},"required":["id","createdAt","updatedAt","index","literalName"]},"lmai.proto.model_fine_tuning.v1.DatasetLabelState":{"title":"DatasetLabelState","type":"object","properties":{"labelingStatus":{"type":"string","enum":["JOB_STATUS_UNSPECIFIED","JOB_STATUS_QUEUED","JOB_STATUS_RUNNING","JOB_STATUS_COMPLETED","JOB_STATUS_CANCELLED","JOB_STATUS_FAILED"],"title":"JobStatus","description":"The status of the latest general pseudo-labeling job for the dataset"},"promptTemplate":{"type":"string","description":"aka user general instructions"},"error":{"type":"string","description":"if the labeling status is error, this field may contain an error message"}},"required":["labelingStatus","promptTemplate"]},"lmai.proto.webserver.v2.UploadDatasetFileRequest":{"title":"UploadDatasetFileRequest","type":"object","properties":{"datasetId":{"type":"string","description":"The ID of the dataset corresponding to the file."}},"required":["datasetId"],"description":"Initiate an upload by requesting a pre-signed S3 upload URL."},"lmai.proto.webserver.v2.UploadDatasetFileResponse":{"title":"UploadDatasetFileResponse","type":"object","properties":{"s3PresignedPost":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.S3PresignedPost"}},"required":["s3PresignedPost"]},"lmai.proto.webserver.v2.S3PresignedPost":{"title":"S3PresignedPost","type":"object","properties":{"url":{"type":"string"},"fields":{"type":"object","additionalProperties":{"type":"string"},"description":"Fields required for the S3 presigned POST request generated by s3 sdk."}},"required":["url","fields"]},"lmai.proto.webserver.v2.S3PresignedPost.FieldsEntry":{"title":"FieldsEntry","type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"}},"required":["key","value"]},"lmai.proto.webserver.v2.FinalizeSingleDatasetFileUploadRequest":{"title":"FinalizeSingleDatasetFileUploadRequest","type":"object","properties":{"datasetId":{"type":"string","description":"The ID of the dataset corresponding to the file"},"s3PresignedPost":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.S3PresignedPost","description":"The pre-signed S3 URL where the file was uploadeded"}},"required":["datasetId","s3PresignedPost"],"description":"Request to finalize a single dataset file upload"},"lmai.proto.webserver.v2.FinalizeSingleDatasetFileUploadResponse":{"title":"FinalizeSingleDatasetFileUploadResponse","type":"object","properties":{},"description":"Response after finalizing a single dataset file upload","additionalProperties":false,"x-stainless-empty-object":true},"lmai.proto.webserver.v2.GenerateSyntheticDatasetRequest":{"title":"GenerateSyntheticDatasetRequest","type":"object","properties":{"datasetId":{"type":"string","description":"The ID of the dataset to generate data for"},"uploadId":{"type":"string","description":"The ID of the upload created for the file"},"config":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.SyntheticDatasetGenerationConfig"}},"required":["datasetId","uploadId","config"],"description":"Populate the dataset with synthetic data generated from an uploaded file"},"lmai.proto.webserver.v2.SyntheticDatasetGenerationConfig":{"title":"SyntheticDatasetGenerationConfig","type":"object","properties":{"baseEvaluationMetric":{"type":"string","enum":["BASE_EVALUATION_METRIC_UNSPECIFIED","BASE_EVALUATION_METRIC_FAITHFULNESS","BASE_EVALUATION_METRIC_RELEVANCE","BASE_EVALUATION_METRIC_TOXICITY","BASE_EVALUATION_METRIC_QA","BASE_EVALUATION_METRIC_SUMMARIZATION"],"title":"BaseEvaluationMetric","description":"Keep in sync with www/prisma/schema.prisma:AEBaseEvaluationMetric"}},"required":["baseEvaluationMetric"]},"lmai.proto.webserver.v2.GenerateSyntheticDatasetResponse":{"title":"GenerateSyntheticDatasetResponse","type":"object","properties":{},"additionalProperties":false,"x-stainless-empty-object":true},"lmai.proto.webserver.v2.GetDatasetRequest":{"title":"GetDatasetRequest","type":"object","properties":{"id":{"type":"string"}},"required":["id"]},"lmai.proto.webserver.v2.GetDatasetResponse":{"title":"GetDatasetResponse","type":"object","properties":{"dataset":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.Dataset"}},"required":["dataset"]},"lmai.proto.webserver.v2.GetDatasetDownloadURLRequest":{"title":"GetDatasetDownloadURLRequest","type":"object","properties":{"datasetId":{"type":"string"}},"required":["datasetId"]},"lmai.proto.webserver.v2.GetDatasetDownloadURLResponse":{"title":"GetDatasetDownloadURLResponse","type":"object","properties":{"downloadUrl":{"type":"string","description":"The S3 presigned URL to download the dataset file."}},"required":["downloadUrl"]},"lmai.proto.webserver.v2.GetDatasetViewRequest":{"title":"GetDatasetViewRequest","type":"object","properties":{"datasetId":{"type":"string","description":"The ID of the dataset from which to retrieve content. When specified,\n gets data from the current file in the dataset."},"datasetFileId":{"type":"string","description":"The ID of the (pinned) dataset file from which to retrieve content.\n Requests iterating over pages of results are recommended to use this\n pinned identifier after the first page in order to prevent any effects\n from a dataset changing between the queries."},"after":{"type":"integer","description":"Pagination: The index, by row-order, after which to query results."},"limit":{"type":"integer","description":"Pagination: The maximum number of results to return on this page."},"previousPageCursor":{"type":"string","description":"A cursor for the previous page in the pagination, if one exists."},"nextPageCursor":{"type":"string","description":"A cursor for the next page in the pagination, if one exists."},"getLastPage":{"type":"boolean"},"useDatasetsService":{"type":"boolean"},"filters":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.datasets.v2.DatasetRowFilter","description":"Filter criteria for the dataset rows"}},"orderBy":{"type":"string","description":"Column to order results by"},"orderDirection":{"type":"string","description":"Direction to order results (\"asc\" or \"desc\")"}},"required":["datasetId","datasetFileId","filters"],"description":"Get a view of the data within a dataset."},"lmai.proto.datasets.v2.DatasetRowFilter":{"title":"DatasetRowFilter","type":"object","properties":{"allOf":{"$ref":"#/components/schemas/lmai.proto.datasets.v2.DatasetRowFilter.AllOf"},"anyOf":{"$ref":"#/components/schemas/lmai.proto.datasets.v2.DatasetRowFilter.AnyOf"}},"required":["allOf","anyOf"]},"lmai.proto.datasets.v2.DatasetRowFilter.AllOf":{"title":"AllOf","type":"object","properties":{"predicates":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.datasets.v2.DatasetFieldValuePredicate"}}},"required":["predicates"]},"lmai.proto.datasets.v2.DatasetRowFilter.AnyOf":{"title":"AnyOf","type":"object","properties":{"predicates":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.datasets.v2.DatasetFieldValuePredicate"}}},"required":["predicates"]},"lmai.proto.datasets.v2.DatasetFieldValuePredicate":{"title":"DatasetFieldValuePredicate","type":"object","properties":{"columnName":{"type":"string"},"stringCriteria":{"$ref":"#/components/schemas/lmai.proto.datasets.v2.StringCriteria"},"numericCriteria":{"$ref":"#/components/schemas/lmai.proto.datasets.v2.NumericCriteria"},"stringListCriteria":{"$ref":"#/components/schemas/lmai.proto.datasets.v2.StringListCriteria"}},"required":["columnName","stringCriteria","numericCriteria","stringListCriteria"]},"lmai.proto.datasets.v2.StringCriteria":{"title":"StringCriteria","type":"object","properties":{"operator":{"type":"string","enum":["OPERATOR_UNSPECIFIED","OPERATOR_EQUALS","OPERATOR_NOT_EQUALS","OPERATOR_CONTAINS","OPERATOR_STARTS_WITH","OPERATOR_ENDS_WITH"],"title":"Operator"},"value":{"type":"string"}},"required":["operator","value"]},"lmai.proto.datasets.v2.NumericCriteria":{"title":"NumericCriteria","type":"object","properties":{"operator":{"type":"string","enum":["OPERATOR_UNSPECIFIED","OPERATOR_EQUALS","OPERATOR_NOT_EQUALS","OPERATOR_GREATER_THAN","OPERATOR_GREATER_THAN_OR_EQUAL","OPERATOR_LESS_THAN","OPERATOR_LESS_THAN_OR_EQUAL"],"title":"Operator"},"int64Value":{"type":"integer"},"doubleValue":{"type":"number"}},"required":["operator","int64Value","doubleValue"]},"lmai.proto.datasets.v2.StringListCriteria":{"title":"StringListCriteria","type":"object","properties":{"operator":{"type":"string","enum":["OPERATOR_UNSPECIFIED","OPERATOR_HAS_ANY","OPERATOR_HAS_ALL","OPERATOR_HAS_NONE"],"title":"Operator"},"values":{"type":"array","items":{"type":"string"}}},"required":["operator","values"]},"lmai.proto.webserver.v2.GetDatasetViewResponse":{"title":"GetDatasetViewResponse","type":"object","properties":{"datasetId":{"type":"string"},"datasetFileId":{"type":"string"},"datasetView":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.DatasetView"},"previousPageCursor":{"type":"string","description":"A cursor for the previous page in the pagination, if one exists."},"nextPageCursor":{"type":"string","description":"A cursor for the next page in the pagination, if one exists."},"datasetVersionKey":{"type":"string","description":"dataset version key"}},"required":["datasetId","datasetFileId","datasetView","datasetVersionKey"]},"lmai.proto.model_fine_tuning.v1.DatasetView":{"title":"DatasetView","type":"object","properties":{"numRows":{"type":"integer"},"numCols":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.DataRow"}},"columns":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.DatasetColumnInfo"}}},"required":["numRows","numCols","data","columns"]},"lmai.proto.model_fine_tuning.v1.DataRow":{"title":"DataRow","type":"object","properties":{"id":{"type":"string"},"rowValues":{"type":"array","items":{"description":"Ordered row values with length always equal to `num_rows` on the\n corresponding view.","type":"object","additionalProperties":true}}},"required":["id","rowValues"]},"google.protobuf.Value":{"description":"Ordered row values with length always equal to `num_rows` on the\n corresponding view.","type":"object","additionalProperties":true},"google.protobuf.Struct":{"title":"Struct","type":"object","properties":{"fields":{"type":"object","additionalProperties":{"description":"Ordered row values with length always equal to `num_rows` on the\n corresponding view.","type":"object","additionalProperties":true}}},"required":["fields"]},"google.protobuf.Struct.FieldsEntry":{"title":"FieldsEntry","type":"object","properties":{"key":{"type":"string"},"value":{"description":"Ordered row values with length always equal to `num_rows` on the\n corresponding view.","type":"object","additionalProperties":true}},"required":["key","value"]},"google.protobuf.ListValue":{"title":"ListValue","type":"object","properties":{"values":{"type":"array","items":{"description":"Ordered row values with length always equal to `num_rows` on the\n corresponding view.","type":"object","additionalProperties":true}}},"required":["values"]},"lmai.proto.webserver.v2.ListDatasetsRequest":{"title":"ListDatasetsRequest","type":"object","properties":{"filters":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListDatasetsRequestFilters"}}},"lmai.proto.webserver.v2.ListDatasetsRequestFilters":{"title":"ListDatasetsRequestFilters","type":"object","properties":{"query":{"type":"string","description":"search query substring match for name and description"},"projectId":{"type":"string","description":"filter datasets associated with the project"}},"description":"Filter listed datasets by ALL filters specified"},"lmai.proto.webserver.v2.ListDatasetsResponse":{"title":"ListDatasetsResponse","type":"object","properties":{"datasets":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.Dataset"}},"totalCount":{"type":"integer","description":"Total count of datasets which can be listed with applicable\n filters, regardless of page size"}},"required":["datasets","totalCount"]},"lmai.proto.webserver.v2.CloneDatasetRequest":{"title":"CloneDatasetRequest","type":"object","properties":{"datasetId":{"type":"string","description":"Dataset to clone"},"name":{"type":"string","description":"New dataset name. If not provided, will use the name of the dataset being\n cloned"},"description":{"type":"string","description":"Human-readable description of the dataset.\n If not provided, will use the name of the dataset being cloned"},"projectId":{"type":"string","description":"The project to add the new dataset to"}},"required":["datasetId"]},"lmai.proto.webserver.v2.CloneDatasetResponse":{"title":"CloneDatasetResponse","type":"object","properties":{"dataset":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.Dataset"}},"required":["dataset"]},"lmai.proto.webserver.v2.ArchiveDatasetRequest":{"title":"ArchiveDatasetRequest","type":"object","properties":{"id":{"type":"string"}},"required":["id"],"description":"Delete a dataset"},"lmai.proto.webserver.v2.ArchiveDatasetResponse":{"title":"ArchiveDatasetResponse","type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]},"lmai.proto.webserver.v2.UpdateDatasetRowRequest":{"title":"UpdateDatasetRowRequest","type":"object","properties":{"id":{"type":"string","description":"The dataset containing the row to update"},"rowId":{"type":"string","description":"The specific row to update, by ID"},"fieldUpdates":{"type":"object","additionalProperties":{"description":"Ordered row values with length always equal to `num_rows` on the\n corresponding view.","type":"object","additionalProperties":true},"description":"The new values to set for specific fields"},"datasetVersionKey":{"type":"string","description":"The version key of the dataset to update"}},"required":["id","rowId","fieldUpdates","datasetVersionKey"],"description":"Update a row in a dataset"},"lmai.proto.webserver.v2.UpdateDatasetRowRequest.FieldUpdatesEntry":{"title":"FieldUpdatesEntry","type":"object","properties":{"key":{"type":"string"},"value":{"description":"Ordered row values with length always equal to `num_rows` on the\n corresponding view.","type":"object","additionalProperties":true}},"required":["key","value"]},"lmai.proto.webserver.v2.UpdateDatasetRowResponse":{"title":"UpdateDatasetRowResponse","type":"object","properties":{"rowId":{"type":"string","description":"The updated row's ID"},"datasetVersionKey":{"type":"string","description":"Version key of the dataset after the update"}},"required":["rowId","datasetVersionKey"]},"lmai.proto.webserver.v2.UpdateDatasetMetadataRequest":{"title":"UpdateDatasetMetadataRequest","type":"object","properties":{"id":{"type":"string","description":"Dataset to update"},"name":{"type":"string","description":"New dataset name"},"description":{"type":"string","description":"New human-readable description of the dataset"}},"required":["id"]},"lmai.proto.webserver.v2.UpdateDatasetMetadataResponse":{"title":"UpdateDatasetMetadataResponse","type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]},"lmai.proto.webserver.v2.EvaluateRequest":{"title":"EvaluateRequest","type":"object","properties":{"metric":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.Metric"},"input":{"type":"array","items":{"type":"string"}},"output":{"type":"array","items":{"type":"string"}},"groundTruth":{"type":"array","items":{"type":"string"}},"projectId":{"type":"string","description":"The project where evaluation inference logs will be stored"},"metadata":{"$ref":"#/components/schemas/google.protobuf.Struct","description":"Common metadata relevant to the application configuration from which all\n request inputs were derived. E.g. 'llm_model', 'chunk_size'"}},"required":["metric","input","output","groundTruth"]},"lmai.proto.webserver.v2.Metric":{"title":"Metric","type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"deploymentStatus":{"type":"string","enum":["MODEL_DEPLOYMENT_STATUS_UNSPECIFIED","MODEL_DEPLOYMENT_STATUS_PENDING","MODEL_DEPLOYMENT_STATUS_ONLINE","MODEL_DEPLOYMENT_STATUS_OFFLINE","MODEL_DEPLOYMENT_STATUS_PAUSED"],"title":"ModelDeploymentStatus"}}},"lmai.proto.webserver.v2.EvaluateResponse":{"title":"EvaluateResponse","type":"object","properties":{"metric":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.Metric"},"scores":{"type":"array","items":{"type":"number"}}},"required":["metric","scores"],"description":"The index of the float value corresponds to that of\n the string combination sent in the request.\n Ex: scores.values[i] is taken from\n input[i], ground_truth[i], output[i] in EvaluateRequest"},"lmai.proto.webserver.v2.EvaluateDatasetRequest":{"title":"EvaluateDatasetRequest","type":"object","properties":{"metric":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.Metric","description":"The metric to compute for the dataset. Use if only a single metric is\n required. For multiple metrics, use 'metrics'."},"metrics":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.Metric","description":"The metrics to compute for the dataset"}},"datasetId":{"type":"string","description":"The dataset to evaluate"},"projectId":{"type":"string","description":"The project where the evaluation run will be persisted"},"metadata":{"$ref":"#/components/schemas/google.protobuf.Struct","description":"Common metadata relevant to the application configuration from which all\n request inputs were derived. E.g. 'llm_model', 'chunk_size'"},"experimentId":{"type":"string","description":"If specified, the evaluation run will be associated with this experiment"}},"required":["metrics","datasetId"]},"lmai.proto.webserver.v2.EvaluateDatasetResponse":{"title":"EvaluateDatasetResponse","type":"object","properties":{"metric":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.Metric"},"scores":{"type":"array","items":{"type":"number"}},"runId":{"type":"string"},"metricScores":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.MetricScores","description":"Upcoming support for evaluating multiple metrics; will replace metric and\n scores. Use metric and scores for now"}}},"required":["metric","scores","runId","metricScores"],"description":"For each metric, scores correspond in the same manner as in EvaluateResponse"},"lmai.proto.webserver.v2.MetricScores":{"title":"MetricScores","type":"object","properties":{"metric":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.Metric"},"scores":{"type":"array","items":{"type":"number"}}},"required":["metric","scores"]},"lmai.proto.webserver.v2.EvaluateRunRequest":{"title":"EvaluateRunRequest","type":"object","properties":{"metrics":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.Metric"}},"input":{"type":"array","items":{"type":"string"}},"output":{"type":"array","items":{"type":"string"}},"groundTruth":{"type":"array","items":{"type":"string"}},"projectId":{"type":"string","description":"The project where the evaluation run will be persisted"},"experimentId":{"type":"string","description":"If specified, the evaluation run will be associated with this experiment"},"metadata":{"$ref":"#/components/schemas/google.protobuf.Struct","description":"Common metadata relevant to the application configuration from which all\n request inputs were derived. E.g. 'llm_model', 'chunk_size'\n E.g. 'llm_model', 'chunk_size'"}},"required":["metrics","input","output","groundTruth"]},"lmai.proto.webserver.v2.EvaluateRunResponse":{"title":"EvaluateRunResponse","type":"object","properties":{"runId":{"type":"string"},"metricScores":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.MetricScores"}}},"required":["runId","metricScores"],"description":"For each metric, scores correspond in the same manner as in EvaluateResponse"},"lmai.proto.webserver.v2.GetEvaluationRunRequest":{"title":"GetEvaluationRunRequest","type":"object","properties":{"id":{"type":"string"}},"required":["id"]},"lmai.proto.webserver.v2.GetEvaluationRunResponse":{"title":"GetEvaluationRunResponse","type":"object","properties":{"evaluationRun":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.EvaluationRun"}},"required":["evaluationRun"]},"lmai.proto.webserver.v2.EvaluationRun":{"title":"EvaluationRun","type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"createdAt":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"},"creatorId":{"type":"string"},"projectId":{"type":"string"},"resultDatasetId":{"type":"string"},"sourceDatasetId":{"type":"string"},"experimentId":{"type":"string"},"experimentName":{"type":"string"},"metadata":{"$ref":"#/components/schemas/google.protobuf.Struct"},"aggregateMetrics":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.MetricAggregate"}},"runType":{"type":"string","enum":["EVALUATION_RUN_TYPE_UNSPECIFIED","EVALUATION_RUN_TYPE_ADHOC","EVALUATION_RUN_TYPE_EXPERIMENT"],"title":"EvaluationRunType"},"numRows":{"type":"integer"}},"required":["id","name","createdAt","projectId","aggregateMetrics","runType","numRows"]},"lmai.proto.webserver.v2.MetricAggregate":{"title":"MetricAggregate","type":"object","properties":{"metric":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.Metric"},"aggregateMethod":{"type":"string","enum":["METRIC_AGGREGATE_METHOD_UNSPECIFIED","METRIC_AGGREGATE_METHOD_SUM","METRIC_AGGREGATE_METHOD_AVG"],"title":"MetricAggregateMethod"},"score":{"type":"number"}},"required":["metric","aggregateMethod","score"]},"lmai.proto.webserver.v2.ListEvaluationRunsRequest":{"title":"ListEvaluationRunsRequest","type":"object","properties":{"filters":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListEvaluationRunsRequestFilters"},"pageIndex":{"type":"integer"},"pageSize":{"type":"integer"}}},"lmai.proto.webserver.v2.ListEvaluationRunsRequestFilters":{"title":"ListEvaluationRunsRequestFilters","type":"object","properties":{"query":{"type":"string","description":"search query substring match for experiment name or metadata"},"projectId":{"type":"string","description":"filter evaluation runs associated with the project"},"runType":{"type":"string","enum":["EVALUATION_RUN_TYPE_UNSPECIFIED","EVALUATION_RUN_TYPE_ADHOC","EVALUATION_RUN_TYPE_EXPERIMENT"],"title":"EvaluationRunType","description":"filter by run type. If not specified, lists all run types"},"experimentId":{"type":"string","description":"filter runs associated with this experiment"},"startTime":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"},"endTime":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"}},"description":"Filter listed evaluation runs by ALL filters specified"},"lmai.proto.webserver.v2.ListEvaluationRunsResponse":{"title":"ListEvaluationRunsResponse","type":"object","properties":{"evaluationRuns":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.EvaluationRun"}},"totalCount":{"type":"integer","description":"Total count of evaluation runs which can be listed with applicable\n filters, regardless of page size"}},"required":["evaluationRuns","totalCount"]},"lmai.proto.webserver.v2.DeleteEvaluationRunRequest":{"title":"DeleteEvaluationRunRequest","type":"object","properties":{"id":{"type":"string","description":"The ID of the evaluation run to delete"}},"required":["id"]},"lmai.proto.webserver.v2.DeleteEvaluationRunResponse":{"title":"DeleteEvaluationRunResponse","type":"object","properties":{"id":{"type":"string","description":"The ID of the deleted evaluation run"}},"required":["id"]},"lmai.proto.webserver.v2.ListMetricsRequest":{"title":"ListMetricsRequest","type":"object","properties":{},"additionalProperties":false,"x-stainless-empty-object":true},"lmai.proto.webserver.v2.ListMetricsResponse":{"title":"ListMetricsResponse","type":"object","properties":{"metrics":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.Metric"}}},"required":["metrics"]},"lmai.proto.webserver.v2.GetMetricRequest":{"title":"GetMetricRequest","type":"object","properties":{"metric":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.Metric"}},"required":["metric"],"description":"Requested metric must have at least id or name set."},"lmai.proto.webserver.v2.GetMetricResponse":{"title":"GetMetricResponse","type":"object","properties":{"metric":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.Metric"}},"required":["metric"],"description":"Returns a full metric object with all fields set."},"lmai.proto.webserver.v2.CreateExperimentRequest":{"title":"CreateExperimentRequest","type":"object","properties":{"name":{"type":"string","description":"Human-readable name for the experiment"},"description":{"type":"string","description":"Succint description of the experiment, if one exists."},"projectId":{"type":"string","description":"Project the experiment is associated with"},"metadata":{"$ref":"#/components/schemas/google.protobuf.Struct","description":"Metadata relevant to the application configuration from which all\n experiment evaluation runs are derived. E.g. 'llm_model', 'chunk_size'"}},"required":["name","projectId"],"description":"Create an Experiment"},"lmai.proto.webserver.v2.CreateExperimentResponse":{"title":"CreateExperimentResponse","type":"object","properties":{"experiment":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.Experiment"}},"required":["experiment"]},"lmai.proto.webserver.v2.Experiment":{"title":"Experiment","type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"},"updatedAt":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"},"creatorId":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"projectId":{"type":"string"},"metadata":{"$ref":"#/components/schemas/google.protobuf.Struct"}},"required":["id","createdAt","updatedAt","name","projectId"]},"lmai.proto.webserver.v2.GetExperimentRequest":{"title":"GetExperimentRequest","type":"object","properties":{"id":{"type":"string"}},"required":["id"]},"lmai.proto.webserver.v2.GetExperimentResponse":{"title":"GetExperimentResponse","type":"object","properties":{"experiment":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.Experiment"}},"required":["experiment"]},"lmai.proto.webserver.v2.ListExperimentsRequest":{"title":"ListExperimentsRequest","type":"object","properties":{"filters":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListExperimentsRequestFilters"},"pageIndex":{"type":"integer"},"pageSize":{"type":"integer"}}},"lmai.proto.webserver.v2.ListExperimentsRequestFilters":{"title":"ListExperimentsRequestFilters","type":"object","properties":{"query":{"type":"string","description":"search query substring match for name and description"},"projectId":{"type":"string","description":"search only experiments associated with specific project"}}},"lmai.proto.webserver.v2.ListExperimentsResponse":{"title":"ListExperimentsResponse","type":"object","properties":{"experiments":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.Experiment"}},"totalCount":{"type":"integer","description":"Total count of experiments which can be listed with applicable\n filters, regardless of page size"}},"required":["experiments","totalCount"]},"lmai.proto.webserver.v2.DeleteExperimentRequest":{"title":"DeleteExperimentRequest","type":"object","properties":{"id":{"type":"string","description":"ID of the experiment to delete"}},"required":["id"]},"lmai.proto.webserver.v2.DeleteExperimentResponse":{"title":"DeleteExperimentResponse","type":"object","properties":{"id":{"type":"string","description":"ID of the deleted experiment"}},"required":["id"]},"lmai.proto.webserver.v2.CreateFineTuneJobRequest":{"title":"CreateFineTuneJobRequest","type":"object","properties":{"fineTuneJobConfig":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.FineTuneJobConfig","description":"Partial configuration with parameters for the fine-tune job."}},"required":["fineTuneJobConfig"],"description":"Create a new Fine Tune Job\n Initialized with the provided configuration parameters."},"lmai.proto.model_fine_tuning.v1.FineTuneJobConfig":{"title":"FineTuneJobConfig","type":"object","properties":{"name":{"type":"string","description":"Optional name for the job."},"description":{"type":"string","description":"Optional description for the job."},"baselineModelId":{"type":"string","description":"The ID for the model used as the starting point for training."},"trainDatasetId":{"type":"string","description":"The dataset to use for training, with splits baked in or to be\n derived dynamically"},"testDatasetId":{"type":"string","description":"The dataset to use for an unbiased evaluation of the model"},"selectedColumns":{"type":"array","items":{"type":"string","description":"Set of columns to be used in fine-tuning.\n Supported columns: input, output, ground_truth\n For example, a task similar to summarization might need output and\n ground_truth."}}},"required":["baselineModelId","trainDatasetId","testDatasetId","selectedColumns"]},"lmai.proto.webserver.v2.CreateFineTuneJobResponse":{"title":"CreateFineTuneJobResponse","type":"object","properties":{"jobId":{"type":"string"}},"required":["jobId"]},"lmai.proto.webserver.v2.SubmitFineTuneJobRequest":{"title":"SubmitFineTuneJobRequest","type":"object","properties":{"jobId":{"type":"string"},"fineTuneJobConfig":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.FineTuneJobConfig","description":"The fine-tune job configuration."}},"required":["jobId","fineTuneJobConfig"]},"lmai.proto.webserver.v2.SubmitFineTuneJobResponse":{"title":"SubmitFineTuneJobResponse","type":"object","properties":{"jobId":{"type":"string"}},"required":["jobId"]},"lmai.proto.webserver.v2.GetFineTuneJobRequest":{"title":"GetFineTuneJobRequest","type":"object","properties":{"jobId":{"type":"string"}},"required":["jobId"]},"lmai.proto.webserver.v2.GetFineTuneJobResponse":{"title":"GetFineTuneJobResponse","type":"object","properties":{"job":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.FineTuneJob"}},"required":["job"]},"lmai.proto.model_fine_tuning.v1.FineTuneJob":{"title":"FineTuneJob","type":"object","properties":{"id":{"type":"string","description":"The ID of the fine tune job."},"createdAt":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"},"updatedAt":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"},"name":{"type":"string","description":"Name corresponding to the fine tuned model derived from this job"},"description":{"type":"string"},"status":{"type":"string","enum":["JOB_STATUS_UNSPECIFIED","JOB_STATUS_QUEUED","JOB_STATUS_RUNNING","JOB_STATUS_COMPLETED","JOB_STATUS_CANCELLED","JOB_STATUS_FAILED"],"title":"JobStatus"},"config":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.FineTuneJobConfig"},"result":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.FineTuneJobResult"}},"required":["id","createdAt","updatedAt","status","config","result"]},"lmai.proto.model_fine_tuning.v1.FineTuneJobResult":{"title":"FineTuneJobResult","type":"object","properties":{"progress":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.TrainingProgress","description":"Sequential snapshots of training metrics."}},"trainedModelFile":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.ModelFile","description":"The trained model, if it was created successfully."},"resultUrl":{"type":"string","description":"Url to view the full results and progress (e.g. external W&B url)"}},"required":["progress"],"description":"Result of a Fine-Tuning Job."},"lmai.proto.model_fine_tuning.v1.TrainingProgress":{"title":"TrainingProgress","type":"object","properties":{"jobId":{"type":"string"},"epoch":{"type":"integer"},"loss":{"type":"number"},"accuracy":{"type":"number"},"progress":{"type":"number"},"timestamp":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"}},"required":["jobId","epoch","loss","accuracy","progress","timestamp"],"description":"Progress metrics from model training."},"lmai.proto.model_fine_tuning.v1.ModelFile":{"title":"ModelFile","type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"},"updatedAt":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"},"modelId":{"type":"string"},"contentMd5Hash":{"type":"string"},"fileSizeBytes":{"type":"integer"}},"required":["id","createdAt","updatedAt","modelId","contentMd5Hash","fileSizeBytes"],"description":"Actual file asset corresponding to a model"},"lmai.proto.webserver.v2.GetFineTuneJobStatusRequest":{"title":"GetFineTuneJobStatusRequest","type":"object","properties":{"jobId":{"type":"string"}},"required":["jobId"]},"lmai.proto.webserver.v2.GetFineTuneJobStatusResponse":{"title":"GetFineTuneJobStatusResponse","type":"object","properties":{"status":{"type":"string","enum":["JOB_STATUS_UNSPECIFIED","JOB_STATUS_QUEUED","JOB_STATUS_RUNNING","JOB_STATUS_COMPLETED","JOB_STATUS_CANCELLED","JOB_STATUS_FAILED"],"title":"JobStatus"},"fineTuneJobResult":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.FineTuneJobResult"}},"required":["status","fineTuneJobResult"]},"lmai.proto.webserver.v2.ListFineTuneJobsRequest":{"title":"ListFineTuneJobsRequest","type":"object","properties":{"filters":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.ListFineTuneJobsRequestFilters"}}},"lmai.proto.webserver.v2.ListFineTuneJobsRequestFilters":{"title":"ListFineTuneJobsRequestFilters","type":"object","properties":{"query":{"type":"string","description":"search query substring match for name and description"},"status":{"type":"string","enum":["JOB_STATUS_UNSPECIFIED","JOB_STATUS_QUEUED","JOB_STATUS_RUNNING","JOB_STATUS_COMPLETED","JOB_STATUS_CANCELLED","JOB_STATUS_FAILED"],"title":"JobStatus"}}},"lmai.proto.webserver.v2.ListFineTuneJobsResponse":{"title":"ListFineTuneJobsResponse","type":"object","properties":{"jobs":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.FineTuneJob"}},"totalCount":{"type":"integer","description":"Total count of fine tune jobs which can be listed with applicable\n filters, regardless of page size"}},"required":["jobs","totalCount"]},"lmai.proto.webserver.v2.ListBaseModelsRequest":{"title":"ListBaseModelsRequest","type":"object","properties":{},"additionalProperties":false,"x-stainless-empty-object":true},"lmai.proto.webserver.v2.ListBaseModelsResponse":{"title":"ListBaseModelsResponse","type":"object","properties":{"models":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.Model"}}},"required":["models"]},"lmai.proto.model_fine_tuning.v1.Model":{"title":"Model","type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"},"updatedAt":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"},"deletedAt":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"},"userId":{"type":"string"},"metricBaseModel":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.MetricBaseModel"},"modelCard":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.ModelCard"}},"required":["id","createdAt","updatedAt","metricBaseModel"],"description":"Definition for the model"},"lmai.proto.model_fine_tuning.v1.MetricBaseModel":{"title":"MetricBaseModel","type":"object","properties":{"id":{"type":"string"},"modelId":{"type":"string"},"baseModelArchitecture":{"type":"string","enum":["BASE_MODEL_ARCHITECTURE_UNSPECIFIED","BASE_MODEL_ARCHITECTURE_ALBERTA_XS","BASE_MODEL_ARCHITECTURE_ALBERTA_LC","BASE_MODEL_ARCHITECTURE_DEBERTA_V3","BASE_MODEL_ARCHITECTURE_ST_SIMILARITY","BASE_MODEL_ARCHITECTURE_MODERNBERT_BASE","BASE_MODEL_ARCHITECTURE_MODERNBERT_LARGE","BASE_MODEL_ARCHITECTURE_MODERNBERT_LARGE_GNN"],"title":"BaseModelArchitecture","description":"Keep in sync with www/prisma/schema.prisma:AEBaseModelArchitecture"},"baseEvaluationMetric":{"type":"string","enum":["BASE_EVALUATION_METRIC_UNSPECIFIED","BASE_EVALUATION_METRIC_FAITHFULNESS","BASE_EVALUATION_METRIC_RELEVANCE","BASE_EVALUATION_METRIC_TOXICITY","BASE_EVALUATION_METRIC_QA","BASE_EVALUATION_METRIC_SUMMARIZATION"],"title":"BaseEvaluationMetric","description":"Keep in sync with www/prisma/schema.prisma:AEBaseEvaluationMetric"}},"required":["id","modelId","baseModelArchitecture"],"description":"Information about a base model corresponding to a metric"},"lmai.proto.model_fine_tuning.v1.ModelCard":{"title":"ModelCard","type":"object","properties":{"modelId":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"deploymentStatus":{"type":"string","enum":["MODEL_DEPLOYMENT_STATUS_UNSPECIFIED","MODEL_DEPLOYMENT_STATUS_PENDING","MODEL_DEPLOYMENT_STATUS_ONLINE","MODEL_DEPLOYMENT_STATUS_OFFLINE","MODEL_DEPLOYMENT_STATUS_PAUSED"],"title":"ModelDeploymentStatus"},"createdAt":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"},"updatedAt":{"type":"string","format":"date-time","description":"A summary is retrieved for a time range from start_time to end_time\n If no end_time is provided, current time is used"},"modelSize":{"type":"integer"},"purpose":{"type":"string"},"trainingProgress":{"$ref":"#/components/schemas/lmai.proto.model_fine_tuning.v1.TrainingProgress"},"baseModelArchitecture":{"type":"string","enum":["BASE_MODEL_ARCHITECTURE_UNSPECIFIED","BASE_MODEL_ARCHITECTURE_ALBERTA_XS","BASE_MODEL_ARCHITECTURE_ALBERTA_LC","BASE_MODEL_ARCHITECTURE_DEBERTA_V3","BASE_MODEL_ARCHITECTURE_ST_SIMILARITY","BASE_MODEL_ARCHITECTURE_MODERNBERT_BASE","BASE_MODEL_ARCHITECTURE_MODERNBERT_LARGE","BASE_MODEL_ARCHITECTURE_MODERNBERT_LARGE_GNN"],"title":"BaseModelArchitecture","description":"Keep in sync with www/prisma/schema.prisma:AEBaseModelArchitecture"},"baseEvaluationMetric":{"type":"string","enum":["BASE_EVALUATION_METRIC_UNSPECIFIED","BASE_EVALUATION_METRIC_FAITHFULNESS","BASE_EVALUATION_METRIC_RELEVANCE","BASE_EVALUATION_METRIC_TOXICITY","BASE_EVALUATION_METRIC_QA","BASE_EVALUATION_METRIC_SUMMARIZATION"],"title":"BaseEvaluationMetric","description":"Keep in sync with www/prisma/schema.prisma:AEBaseEvaluationMetric"},"values":{"type":"object","additionalProperties":{"type":"string"}},"tags":{"type":"array","items":{"type":"string"}},"columns":{"type":"array","items":{"type":"string"}}},"required":["modelId","name","description","deploymentStatus","createdAt","updatedAt","modelSize","purpose","trainingProgress","baseModelArchitecture","values","tags","columns"]},"lmai.proto.model_fine_tuning.v1.ModelCard.ValuesEntry":{"title":"ValuesEntry","type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"}},"required":["key","value"]},"lmai.proto.webserver.v2.CanViewerDoRequest":{"title":"CanViewerDoRequest","type":"object","properties":{"resourceName":{"type":"string"},"actions":{"type":"array","items":{"type":"string"}}},"required":["resourceName","actions"],"description":"For the specified resource_name, determine if the viewer can do the specified\n actions Supports multiple action checks in one request for usability"},"lmai.proto.webserver.v2.CanViewerDoResponse":{"title":"CanViewerDoResponse","type":"object","properties":{"canDoActions":{"type":"array","items":{"$ref":"#/components/schemas/lmai.proto.webserver.v2.CanDoActionCheck"}}},"required":["canDoActions"],"description":"Return the results of checking whether the viewer can perform the actions\n specified"},"lmai.proto.webserver.v2.CanDoActionCheck":{"title":"CanDoActionCheck","type":"object","properties":{"action":{"type":"string"},"canDoAction":{"type":"boo
[...]
